


<div id="sidebar-wrapper">

  <ul class="sidebar-nav" id="menu0">
    <li class="sidebar-brand">
			<a href="#">Web</a>
		</li>
    <li><%= link_to "HTTP", 		tutors_path %></li>
    <li><%= link_to "Browser",	tutors_path %></li>
		<li><%= link_to "Cake",   	tutors_path %></li>
  </ul>

  <ul class="sidebar-nav" id="menu1">
    <li class="sidebar-brand">
    	<li><%= link_to "UI", 					tutors_path %></li>
		</li>
    <li><%= link_to "HTML5/CSS3", 		tutors_path %></li>
    <li><%= link_to "Bootstrap",			tutors_path %></li>
    <li><%= link_to "Java Script",		tutors_path %></li>
    <li><%= link_to "SCSS",						tutors_path %></li>
    <li><%= link_to "Compass", 				tutors_path %></li>
  </ul>

  <ul class="sidebar-nav" id="menu2">
    <li class="sidebar-brand">
    	<li><%= link_to "Backend",			tutors_path %></li>
		</li>
    <li><%= link_to "Environment",		tutors_path %></li>
    <li><%= link_to "Active Record",	tutors_path %></li>
    <li><%= link_to "Amazon S3",			tutors_path %></li>
  </ul>

  <ul class="sidebar-nav" id="menu3">
    <li class="sidebar-brand">
			<li><%= link_to "Special Topic",tutors_path %></li>l
		</li>
    <li><%= link_to "AJAX",						tutors_path %></li>
    <li><%= link_to "Coffee Script", 	tutors_path %></li>
    <li><%= link_to "WebGL", 					tutors_path %></li>
    <li><%= link_to "WEB3D",  				tutors_path %></li>
  </ul>

  <ul class="sidebar-nav" id="menu4">
    <li class="sidebar-brand">
			<li><%= link_to"Project",							day0_path %></li>
		</li>
    <li><%= link_to "Day1: Setup",					day1_path %></li>
    <li><%= link_to "Day2: Adminstration",	day2_path %></li>
    <li><%= link_to "Day3: User",						day3_path %></li>
    <li><%= link_to "Day4: Order", 					day4_path %></li>
    <li><%= link_to "Day5: Theme",					day5_path %></li>
    <li><%= link_to "Day6: Refactor",				day6_path %></li>
    <li><%= link_to "Day7: Performance",		day7_path %></li>
    <li><%= link_to "Day8: Conclusion",			day8_path %></li>
  </ul>  

</div>